{% extends "sitecontent/base.html" %}

{% block title %}{{ page.title }}Contact - abbu{% endblock %}

{% block content %}
<div class="py-4 md:pt-14 md:pb-8 md:px-12 lg:px-24 text-gray-500">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="space-y-2">
      <div class="text-[#ce3a0d] text-xl">a &nbsp;&nbsp; b b u</div>
      <div class="italic">&nbsp;&nbsp;&nbsp;&nbsp;architecture d'intérieur et design d'exposition </div>
      <div>rue centrale 10</div>
      <div>CH – 1003 lausanne</div>
      <div><a href="tel:+41788084319" class="hover:underline">+ 41 78 808 43 19</a></div>
      <div><a href="mailto:info@abbu.ch" class="hover:underline">info@abbu.ch</a></div>
    </div>
    <div class="space-y-2">
      <div class="text-xl">Andrea Burgos</div>
      <div class="italic">&nbsp;&nbsp;&nbsp;&nbsp;designer en architecture d’intérieur HES </div>
      <div>membre de l'association suisse des architectes d'interieurs</div>
      <div>VSI.ASAI </div>
      <div><a href="tel:+41788084319" class="hover:underline">+ 41 78 808 43 19</a></div>
      <div><a href="mailto:a.burgos@abbu.ch" class="hover:underline">a.burgos@abbu.ch</a></div>
    </div>
  </div>
  <div class="flex justify-center py-4 md:py-12 border-b">
    entreprise individuelle immatriculée au registre du commerce du canton de vaud N° CHE-150.368.514
  </div>
  <div class="mt-8">
    <iframe src="https://www.google.com/maps/d/embed?mid=zqspP69z7f_k.kGJhpcMR2WSg" width="100%" height="300"
      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</div>
{% endblock %}